.swiper-pagination {
    position: relative;
    width: 100%;
    bottom: auto;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    @include sm {
        display: flex;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: #000;
        opacity: 0.5;
        margin: 0 5px;
        transition: all 0.3s ease-in-out;
        outline: none !important;
        border-radius: 50%;

        &:hover {
            background-color: $main;
            opacity: 1;
        }

        &.swiper-pagination-bullet-active {
            background-color: $main;
            opacity: 1;
        }
    }

}

.swiper-btn {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: 140px;
    color: #1e385b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $main;
    }

    &.swiper-btn-next {
        left: -35px;
    }

    &.swiper-btn-prev {
        right: -35px;
    }

    @include sm {
        display: none;
    }
}

.main-slider {

    .swiper-btn {
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(#000, 0.5);
        color: #fff;
        font-size: 18px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0);

        &:hover {
            background-color: #fff;
            color: $text;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        }

        &.swiper-btn-next {
            left: 10px;
        }

        &.swiper-btn-prev {
            right: 10px;
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 30px;
        display: flex;
        margin-top: 0;

        @include xs {
            bottom: 20px;
        }

        .swiper-pagination-bullet {
            &:hover {
                background-color: #fff;
            }

            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
    }
}

.categories-slider {
    .swiper-btn {
        top: 74px;
    }
}
